@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, 'Poppins';
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
}

/* img */
.img {
  margin-right: 12px;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.dropdown p {
  margin-left: 12px;
  margin-right: 20px;
}

.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  height: 64px;
  min-width: 96px;
  line-height: 64px;
  margin-right: 20px;
}

.dropdown:hover {
  cursor: pointer;
}

.name{
  color:#111;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.admin{
  padding-top: 16px;
}

.dropAdmin {
  position: absolute;
  top: 100%;
  right: -20%;
  background-color: #fff;
  width: 142px;
  height: 150px;
  border: 1px solid #ccc;
  border-top: none;
  border-right: none;
  display: none;
}

.dropAdmin ul li {
  list-style-type: none;
  width: 100%;
}

.dropAdmin ul li:hover {
  cursor: pointer;
  color: rgb(33, 207, 207);
}

.dropdown:hover .dropAdmin {
  display: block;
}

/* profile */

.headingProfile {
  margin-left: 80px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 800;
}

.profile {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  padding: 16px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
  border: 1px solid #ccc;
  border-radius: 16px;
  background-color: #fff;
}

.buttonProfile {
  display: flex;
  padding-top: 16px;
  justify-items: flex-start;
  align-items: flex-end;
  width: 100%;
  border-top: 1px solid #95c7ed;
}

.buttonProfile button {
  min-width: 160px;
  height: 44px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #8b50de;
  color:#8b50de;
}

.buttonProfile button:hover {
  cursor: pointer;
  background-color: #8b50de;
  color: #fff;
}

.btnUp {
  margin-right: 20px;
}

table {
  text-align: start;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  font-weight: 400;
}

table th, td {
  min-width: 200px;
}
