.profilePassword {
    width: 519px;
    min-height: 360px;
    margin-left: 60px ;
    padding: 24px;
    align-items: flex-start;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: #fff;
  }
  
  .profilePassword .input-changePassword{
    margin-bottom: 18px;
    position: relative;
  }
  
  .profilePassword .input-changePassword input{
    padding: 16px;
    width: 420px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .heading-changePassword {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .btn-changepassword-profile {
    margin-top: 20px;
  }


  