.garage-create-management {
    margin-left: 40px ;
    margin-right: 40px;
    margin-top: 30px;
    align-items: flex-start;
}

.garage-create {
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: #fff;
    padding: 24px 12px 24px 32px;
    margin-top: 20px;
}

.garage-create-management .garage-create .input-createManagement input{
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    padding: 4px;
}

.garage-create-management .garage-create .des-management textarea {
    height: 120px;
    width: 95%;
    border-radius: 6px;
    padding: 4px;
}

.garage-create-management .garage-create .time-management {
    width: 90%;
}

